@{
    ViewBag.Title = "Routing";
}
<link href="~/Content/Routing.css" rel="stylesheet" />
<h2>Routing</h2>
<div>
    <ul class="menu">
        <li><a href="#!/ProdCat">ProdCat</a></li>
        <li><a href="#!/ProductList">ProductList</a></li>
        <li><a href="#!/ProductSearch">ProductSearch</a></li>
        <li><a href="#!/Login">Login</a></li>
        <li><a href="#!/invalid">InvalidUrl</a></li>
    </ul>
</div>
<div>
    <ng-view></ng-view>
</div>
