
    ul.menu{
        position:absolute;
        top:0px;
        right:0px;
        list-style:none;
        padding:10px;
        margin:0px;
    }
    ul.menu li {
        float:left;
        margin:1px;
    }
    ul.menu li a{
        float:left;
        background-color:#f3f3f3;
        display:inline-block;
        padding:5px 20px;
    }
    ul.menu li a:hover {
        background-color:#e4e4e4;
    }