@{
    ViewBag.Title = "Routing";
}
<link href="~/Content/Routing.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />



@* Header with search box *@
    <header style="background-color:lightgray">
        <ul class="menu">
            <li><a href="#!/ProdCat">ProdCat</a></li>
            <li><a href="#!/ProductList">ProductList</a></li>
            <li><a href="#!/ProductSearch">ProductSearch</a></li>
            <li><a href="#!/Login">Login</a></li>
            <li><a href="#!/invalid">InvalidUrl</a></li>
        </ul>
        <div class="container my-container">

            <div class="row my-row justify-content-center align-items-between">
                <div class="col-8 my-col"><h2>Shop Application</h2><br /></div>
            </div>

            <div class="row my-row align-items-between">
                <div style="background-color:#941e1e; padding:4px;" class="col-8 my-col">
                    <form class="form-inline">
                        <div class="col my-col">INPUT</div>
                        <div class="col my-col">SELECT</div>
                        <div class="col my-col">SUBMIT</div>
                    </form>
                </div>
            </div>
        </div>
    </header>

@* Main container  *@
<div class="container my-container">
    <div class="row" >
        <div ng-controller="CategoryAngularController" class="col-8 my-maincols">
            <div class="my-Catlist">
                <label><h2>All categories</h2></label>
                <div ng-repeat="e in categoryList">
                    <div class="col-2">{{e.CategoryName}}</div>
                </div>
            </div>
        </div>

        @* Login Form  *@
        <div class="col-4 my-col">
            <div class="container" ng-controller="LoginAngularControler">
                <div class="row text-center">
                    <div class="col-xs-12">
                        <div style="color:rgb(142,2,2)">{{Message}}</div>
                        <div ng-show="!IsLogedIn">
                            <form novalidate name="f1" ng-submit="Login()">
                                <div class="form-group">
                                    <label for="cLogin">UserName :</label>
                                    <input class="form-control" id="cLogin" type="text" ng-model="LoginData.Login" name="cLogin" ng-class="Submitted?'ng-dirty':''" required autofocus />
                                    <span class="error" ng-show="(f1.cLogin.$dirty || Submitted) && f1.cLogin.$error.required"> Username required</span>
                                </div>
                                <div class="form-group">
                                    <label for="cPassword">Password :</label>
                                    <input class="form-control" id="cPassword" type="password" ng-model="LoginData.Password" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus />
                                    <span class="error" ng-show="(f1.cPassword.$dirty || Submitted) && f1.cPassword.$error.required"> Password required</span>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-primary" type="submit" value="Login" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    @* Filtering  *@
    <div class="row">
        <div style="background-color: #941e1e; padding:4px;" class="col-8 my-col">ss</div>
    </div>

    @* here ng-view inlude html for picked Route *@
    <div class="row my-row ">
        <div class="col-8 my-col my-maincols">
            <ng-view></ng-view>
        </div>
    </div>
</div>


@* Footer *@
<footer style="background-color: lightgray">
        footer 
</footer>
