
    ul.menu{
        position:absolute;
        top:0px;
        right:0px;
        list-style:none;
        padding:0px;
        margin:0px;
    }
    ul.menu li {
        float:left;
        margin:1px;
    }
    ul.menu li a{
        float:left;
        background-color:#f3f3f3;
        display:inline-block;
        padding:1px 2px;
    }
    ul.menu li a:hover {
        background-color:#e4e4e4;
    }
    .my-container{
        /*border: 3px solid yellow;*/
    }
    .my-col{
        
        /*border: 3px dotted black;*/
    }
    .my-row{
        
        /*border: 3px solid red;*/
    }
    .my-maincols{
       border-right: 3px dotted gray;
    }
    .my-Catlist{
        padding: 4px;
    }