
<h2>Login Page</h2>

<div class="container" ng-controller="LoginAngularControler">
    <div class="row">
        <div >
            <form  novalidate name="f1" ng-submit="Login()">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="cLogin">UserName</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="cLogin" type="text" ng-model="LoginData.Login" name="cLogin" ng-class="Submitted?'ng-dirty':''" required autofocus />
                    </div>                
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="cPassword">Password</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="cPassword" type="password" ng-model="LoginData.Password" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus />
                    </div>                    
                </div>
                <div class="form-group row">
                    <div class ="col-sm-10 col-sm-push-2">
                        <input class="btn btn-primary" type="submit" value="Login" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<!--<form novalidate name="f1" ng-submit="Login()">
    <div style="color:rgb(142,2,2)">{{Message}}</div>
    <table ng-show="!IsLogedIn">
        <tr>
            <td>UserName : </td>
            <td>
                <input class="form-control" type="text" ng-model="LoginData.Login" name="cLogin" ng-class="Submitted?'ng-dirty':''" required autofocus />
                <span class="error" ng-show="(f1.cLogin.$dirty || Submitted) && f1.cLogin.$error.required"> Username required</span>
            </td>
        </tr>
        <tr>
            <td>Password : </td>
            <td>
                <input class="form-control" type="password" ng-model="LoginData.Password" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus />
                <span class="error" ng-show="(f1.cPassword.$dirty || Submitted) && f1.cPassword.$error.required"> Password required</span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input class="btn btn-primary" type="submit" value="Login" />
            </td>
        </tr>
    </table>-->