
<h2>Login Page</h2>

<div class="container" ng-controller="LoginAngularControler">
    <div class="row">
        <div class="col-xs-12">
            <div style="color:rgb(142,2,2)">{{Message}}</div>
            <div ng-show="!IsLogedIn">
            <form novalidate name="f1" ng-submit="Login()">
                <div class="form-group">
                    <label for="cLogin">UserName :</label>
                    <input class="form-control" id="cLogin" type="text" ng-model="LoginData.Login" name="cLogin" ng-class="Submitted?'ng-dirty':''" required autofocus />
                    <span class="error" ng-show="(f1.cLogin.$dirty || Submitted) && f1.cLogin.$error.required"> Username required</span>
                </div>
                <div class="form-group">
                    <label for="cPassword">Password :</label>
                    <input class="form-control" id="cPassword" type="password" ng-model="LoginData.Password" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus />
                    <span class="error" ng-show="(f1.cPassword.$dirty || Submitted) && f1.cPassword.$error.required"> Password required</span>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Login" />
                </div>
            </form>
            </div>
        </div>
    </div>
</div>




<!--<form novalidate name="f1" ng-submit="Login()">
    <div style="color:rgb(142,2,2)">{{Message}}</div>
    <table ng-show="!IsLogedIn">
        <tr>
            <td>UserName : </td>
            <td>
                <input class="form-control" type="text" ng-model="LoginData.Login" name="cLogin" ng-class="Submitted?'ng-dirty':''" required autofocus />
                <span class="error" ng-show="(f1.cLogin.$dirty || Submitted) && f1.cLogin.$error.required"> Username required</span>
            </td>
        </tr>
        <tr>
            <td>Password : </td>
            <td>
                <input class="form-control" type="password" ng-model="LoginData.Password" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus />
                <span class="error" ng-show="(f1.cPassword.$dirty || Submitted) && f1.cPassword.$error.required"> Password required</span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input class="btn btn-primary" type="submit" value="Login" />
            </td>
        </tr>
    </table>-->