<br />
<div ng-controller="PSearchAngullarController">
    Search a product name..
        <input type="text" name="searchText" id="searchText" ng-model="searchText" ng-keyup="complete(searchText)" class="form-control"/>
            <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
                <li class="list-group-item" ng-repeat="prodSearch in filterProduct" ng-click="fillTextbox(prodSearch)">{{prodSearch}}</li>
            </ul>
   
            <select ng-model="CategoryID" ng-options="I.CategoryID as I.CategoryName for I in CategoryList">

            </select>
         <input class="btn btn-primary" type="button" value="Serarch Products " ng-model="searchText" ng-click="SearchProduct(searchText)" />
    {{message}}
</div>