<link href="../Content/ProductList.css" rel="stylesheet" />
<h2>ProductList</h2>
<div class="container" ng-controller="ProductAngularController">
    <!-- Filters -->
    <div class="row" id="filterInputs">
        <div class="col">Global Filter</div>
        <div class="col">Filter by Product Name </div>
        <div class="col">Filter by Categoy </div>
    </div>
    <div class="row">
        <div class="col"><input type="text" ng-model="gloabalFilter.$" class="form-control" /></div>
        <div class="col"><input type="text" ng-model="gloabalFilter.ProductName" class="form-control" /></div>
        <div class="col"><input type="text" ng-model="gloabalFilter.CategoryID" class="form-control" /></div>
    </div>
    <br />
    <!-- Display Data -->
    <div class="row justify-content-center">
        <table class="tableData">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product price</th>
                <th>Product Category</th>
            </tr>
            <tr ng-repeat="e in Products | filter: gloabalFilter" ng-class-odd="'odd'" ng-class-even="'even'">
                <td>{{e.ProductID}}</td>
                <td>{{e.ProductName}}</td>
                <td>{{e.ProductDesc}}</td>
                <td>{{e.Price | currency:"USD$"}}</td>
                <td>{{e.CategoryID}}</td>
            </tr>
        </table>
    </div>
</div>
