<link href="../Content/ProductList.css" rel="stylesheet" />
<h2>ProductList</h2><br />
<div ng-controller="ProductAngularController">
    <!-- Filters -->
    <div id="filterInputs">
        <table>
            <tr>
                <th> Global Filter :</th>
                <th><input type="text" ng-model="gloabalFilter.$" class="form-control"/></th>
            </tr>
            <tr>
                <th>Filter by Product Name :</th>
                <th><input type="text" ng-model="gloabalFilter.ProductName" class="form-control" /></th>
            </tr>
            <tr>
                <th>Filter by Categoy : </th>
                <th><input type="text" ng-model="gloabalFilter.CategoryID" class="form-control" /></th>
            </tr>
        </table>
           
    </div>
    <!-- Display Data -->
    <table class="tableData" width="80%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product price</th>
            <th>Product Category</th>
        </tr>
        <tr ng-repeat="e in Products | filter: gloabalFilter" ng-class-odd="'odd'" ng-class-even="'even'">
            <td>{{e.ProductID}}</td>
            <td>{{e.ProductName}}</td>
            <td>{{e.ProductDesc}}</td>
            <td>{{e.Price}}</td>
            <td>{{e.CategoryID}}</td>
        </tr>
    </table>
</div>
